<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">15 Produits</p>
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="assets/customer/img/cat-1.jpg" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Cadeaux</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">15 Produits</p>
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="assets/customer/img/cat-2.jpg" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Anniversaire</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">15 Produits</p>
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="assets/customer/img/cat-3.jpg" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Mariages</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">15 Produits</p>
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="assets/customer/img/cat-4.jpg" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Eglise</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">15 Produits</p>
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="assets/customer/img/cat-5.jpg" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Accessoires</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">15 Produits</p>
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="assets/customer/img/cat-6.jpg" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Pot décoration</h5>
            </div>
        </div>
    </div>
</div>