<!-- Topbar Start -->
<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block"></div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-1">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Contact Us</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Contact</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Contactez-nous pour toutes vos questions</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form (ngSubmit)="onSubmit()" name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control" id="customerName" [(ngModel)]="mailDTO.customerName" name="customerName" placeholder="Votre nom et prénom" required="required" data-validation-required-message="Svp votre nom et prénom" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" [(ngModel)]="mailDTO.recipient" name="recipient" id="recipient" placeholder="Votre Email" required="required" data-validation-required-message="Svp votre email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" [(ngModel)]="mailDTO.subject" name="subject" placeholder="Object de votre message" required="required" data-validation-required-message="Svp Object de votre message" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="6" id="message" [(ngModel)]="mailDTO.message" name="message" placeholder="Votre Message" required="required" data-validation-required-message="Svp enterez votre message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-block py-2 px-4" type="submit" id="sendMessageButton">
                                Envoyer votre Message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Ou nous trouvez ?</h5>
            <p>Envie de nous contactez alors envoyer juste un email ou appeler directement sur ces numéro indiqués.
            </p>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Adresse 1</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Hann-Mariste 2, Dakar, Sénégal</p>
                <p class="mb-2">
                    <a href="mailto:support@fleurpourtous.com">
                        <i class="fa fa-envelope text-primary mr-3"></i> support@fleurpourtous.com
                    </a>
                </p>
                <p class="mb-2">
                    <a href="https://wa.me/+221782966868">
                        <i class="fa fa-phone-alt text-primary mr-3"></i>+221 78 296 68 68
                    </a>
                </p>
            </div>
            <div class="d-flex flex-column">
                <h5 class="font-weight-semi-bold mb-3">Adresse 2</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Yoff virage, Dakar, Sénégal</p>
                <p class="mb-2">
                    <a href="mailto:support@fleurpourtous.com">
                        <i class="fa fa-envelope text-primary mr-3"></i>support@fleurpourtous.com </a>
                </p>
                <p class="mb-0">
                    <a href="https://wa.me/+221762303440">
                        <i class="fa fa-phone-alt text-primary mr-3"></i>+221 76 230 34 40
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>