<!-- Featured Start -->
<app-feature-start></app-feature-start>
<!-- Featured End -->


<!-- Categories Start -->
<app-category-start></app-category-start>
<!-- Categories End -->


<!-- Offer Start -->
<app-offer-start></app-offer-start>
<!-- Offer End -->


<!-- Products Start -->
<app-product-start></app-product-start>
<!-- Products End -->


<!-- Subscribe Start -->
<app-subscribe-newletter></app-subscribe-newletter>
<!-- Subscribe End -->


<!-- Products Start -->
<app-new-arrive-product></app-new-arrive-product>
<!-- Products End -->