<!-- <div class="row px-xl-5 pt-5">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
        <a href="" class="text-decoration-none">
            <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Shopper</h1>
        </a>
        <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p>
        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
        <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
    </div>
    <div class="col-lg-8 col-md-12">
        <div class="row">
            <div class="col-md-4 mb-5">
                <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                    <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                    <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                    <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                    <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                    <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                    <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                    <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                    <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control border-0 py-4" placeholder="Your Email" required="required" />
                    </div>
                    <div>
                        <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Fleuriste</h1>
            </a>
            <p>Fleuriste est une site e-commerce de vente de fleurs, de peupiniaire de fleurs et de matériels de décorations.
            </p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Hann-Mariste 2, Dakar, SENEGAL</p>
            <p class="mb-2">
                <a href="mailto:support@fleurpourtous.com"><i class="fa fa-envelope text-primary mr-3"></i> support@fleurpourtous.com </a>
            </p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+221 77 944 03 10</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">A Propos</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" routerLink="/"><i class="fa fa-angle-right mr-2"></i>Accueil</a>
                        <a class="text-dark mb-2" routerLink="/pages/about"><i class="fa fa-angle-right mr-2"></i>Qui sommes-nous</a>
                        <a class="text-dark mb-2" routerLink="/pages/temes-conditions"><i class="fa fa-angle-right mr-2"></i>Termes & conditions</a>
                        <a class="text-dark mb-2" routerLink="/shop/catalogues"><i class="fa fa-angle-right mr-2"></i>Boutiques</a>
                        <a class="text-dark mb-2" routerLink="/auth/register"><i class="fa fa-angle-right mr-2"></i>Créer compte</a>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Service client</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark" routerLink="/pages/faq"><i class="fa fa-angle-right mr-2"></i>FAQ & Aide</a>
                        <a class="text-dark" routerLink="/pages/contact"><i class="fa fa-angle-right mr-2"></i>Nous contacter</a>
                        <a class="text-dark mb-2" routerLink="/pages/aide-commande"><i class="fa fa-angle-right mr-2"></i>Comment acheter ?</a>
                        <a class="text-dark" routerLink="/pages/aide-paiement"><i class="fa fa-angle-right mr-2"></i>Paiement ?</a>
                        <a class="text-dark mb-2" routerLink="/pages/aide-livraison"><i class="fa fa-angle-right mr-2"></i>Livraison ?</a>
                        <a class="text-dark mb-2" routerLink="/shop/catalogues"><i class="fa fa-angle-right mr-2"></i>Catalogues</a>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">S'inscrire à notre Newsletter</h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="Your Email" required="required" />
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="https://wokite.net">Wokite</a>. All Rights Reserved.
                <!-- <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a>
                <br> Distributed By
                <a href="https://themewagon.com" target="_blank">Wokite</a> -->
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="assets/customer/img/payments.png" alt="">
        </div>
    </div>
</div>