<div class="container-fluid">
  <app-main-top></app-main-top>
</div>
<div class="container-fluid">
  <div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block"></div>
    <div class="col-lg-9">
      <app-nav-bar></app-nav-bar>
    </div>
  </div>
</div>
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 150px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">
      PASSER UNE COMMANDE
    </h1>
    <div class="d-inline-flex">
      <p class="m-0"><a routerLink="/">Accueil</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Comment Passer et Suivre ma Commande ?</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-center mb-4">
    <h4 class="section-title px-5">
      <span class="px-2">
        Suivre les étapes suivantes pour passer votre commande</span
      >
    </h4>
  </div>

  <div class="text-center mb-4">
    <span> 1. choisir directement <strong>la catégorie</strong> </span>
    <p>
      En choisissant la catégorie, vous accéderez sur la boutique et choisir
      votre produit
    </p>
    <img
      class="img-fluid"
      src="assets/customer/img/commander/category.jpg"
      alt="Image"
    />
  </div>
  <br />
  <div class="text-center mb-4">
    <span> 2. En utilisant <strong>la barre de recherche</strong> </span>
    <p>
      <span
        >Tapez ce que vous recherchez dans le champ de recherche en haut de la
        page</span
      >
      <br />
      <span>Vous trouverez tous les produits associés</span>
    </p>
    <img
      class="img-fluid"
      src="assets/customer/img/commander/recherche.jpg"
      alt="Image"
    />
  </div>
  <br />

  <div class="text-center mb-4">
    <span> 3. On a deux choix à faire pour acheter un produit </span>
    <p>
      <span
        >3.1. <strong>clic sur Acheter sur le produit que tu veux</strong>
      </span>
      <br />
      <span
        >3.2.
        <strong
          >afficher d'abord les détails du produit puis clic sur Acheter
        </strong></span
      >
      <br />
      <span>
        Tous ces deux processus vous permet d'acheter le produit dont vous
        souhaitez</span
      >
    </p>
    <img
      class="img-fluid"
      src="assets/customer/img/commander/achat.PNG"
      alt="Image"
    />
  </div>
  <br />

  <div class="text-center mb-4">
    <span> 4. Accès à vos produits <strong> votre panier</strong> </span>
    <p>Afin d'accéder à votre panier cliquer sur l'icone panier indiqué haut</p>
    <img
      class="img-fluid"
      src="assets/customer/img/commander/clicAccessPanier.jpg"
      alt="Image"
    />
  </div>
  <br />

  <div class="text-center mb-4">
    <span>
      5. Diminuer ou Augmenter les quantités <strong> votre panier</strong>
    </span>
    <p>
      <span>
        Pour modifier la quantité de vos produits dejà ajouter à votre panier
      </span>
      <br />
      <span
        >Il vous suffit juste d'utiliser les icones ou moins afin d'augmnert ou
        diminuer</span
      >
    </p>
    <img
      class="img-fluid"
      src="assets/customer/img/commander/UpdateCartStatus.PNG"
      alt="Image"
    />
  </div>
  <br />

  <div class="text-center mb-4">
    <span>
      6. Finaliser achat
      <strong>
        En cliquant sur le bouton Finaliser votre achat haut voir 5.</strong
      >
    </span>
    <p>
      <span>
        Vous serez invité à vous connecter pour pouvoir continuer votre achat
      </span>
      <br />
      <span>
        Renseigner vos identifiants de connection si vous avez déjà un
        compte</span
      >
    </p>

    <img
      class="img-fluid"
      src="assets/customer/img/commander/login.PNG"
      alt="Image"
    />
  </div>
  <br />

  <div class="text-center mb-4">
    <span>
      7. Pas de compte alors <strong> Clic sur S'inscrire voir 6.</strong>
    </span>
    <p>
      Renseignez vos information pour créer votre compte afin de pouvoir
      continuer vos achat
    </p>
    <img
      class="img-fluid"
      src="assets/customer/img/commander/signUp.PNG"
      alt="Image"
    />
  </div>
  <br />

  <div class="text-center mb-4">
    <span>
      8. Valider achat
      <strong> En Renseignant les informations necessaires</strong>
    </span>
    <p>
      <span
        >Indiquer les informations et les addresses d'achat et de
        livraisons</span
      >
      <br />
      <span>Si l'addresse d'achat identique à l'addresse de livraison</span>
      <br />
      <span>clic sur <strong> chosiri la meme addresse</strong> </span> <br />
      <span><strong>En fin clic sur Valider votre commande</strong></span>
    </p>
    <img
      class="img-fluid"
      src="assets/customer/img/commander/checkout01.jpg"
      alt="Image"
    />
    <br />
    <!-- <img class="img-fluid" src="assets/customer/img/commander/checkout02.jpg" alt="Image"> -->
  </div>
  <br />

  <div class="text-center mb-4">
    <span>
      9. Commande validée <strong> En Observant le message d'alerte</strong>
    </span>
    <p>
      Une fois le message d'alerte c'est-à-dire que votre est en traitement en
      attendant votre payement
    </p>
    <img
      class="img-fluid"
      src="assets/customer/img/commander/confirmCommande.jpg"
      alt="Image"
    />
  </div>
  <br />

  <div class="text-center mb-4">
    <span>
      10. Accès à votre compte
      <strong> En Utilisant choisissant vos commande</strong>
    </span>
    <p>Cela vous permet d'accèder à votre compte client</p>
    <img
      class="img-fluid"
      src="assets/customer/img/commander/AccessAccount.PNG"
      alt="Image"
    />
  </div>
  <br />

  <div class="text-center mb-4">
    <span>
      11. Suivre vos commandes <strong> En Accèdant à votre compte</strong>
    </span>
    <p>
      <span>De là vous pouvez suivre votre nouvelle commandes </span><br />
      <span>ainsi que l'historique de vos commandes</span>
      <br />
      <span>Aussi vous pouvez télécharger ou visualiser vos factures </span>
    </p>
    <img
      class="img-fluid"
      src="assets/customer/img/commander/facture01.jpg"
      alt="Image"
    />
  </div>
  <br />

  <div class="text-center mb-4">
    <span>
      12. Facture commandes <strong> En Accèdant à votre compte</strong>
    </span>
    <p>
      <span
        >Au clic sur le pdf dans 11 vous accédez au détails de votre
        commande.</span
      ><br />
      <span> Vous avez plusieurs opérations à votre choix :</span> <br />
      <span>1 : Visualiser votre facture au clic sur le bouton Ouvrir</span>
      <span>2 : Imprimer votre facture au clic sur le bouton Imprimer</span>
      <span
        >3 : Télécharger votre facture au clic sur le bouton Télécharger</span
      >
      <img
        class="img-fluid"
        src="assets/customer/img/commander/facture02.jpg"
        alt="Image"
      />
    </p>
  </div>
  <br />
</div>
<app-footer></app-footer>
<a href="#" class="btn btn-primary back-to-top"
  ><i class="fa fa-angle-double-up"></i
></a>
