<!-- Topbar Start -->
<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                <app-sidebar-category></app-sidebar-category>
            </nav>
        </div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 170px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Votre Commande</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Commande</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="center col-lg-12">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5>COMMANDE EFFECTUEE</h5>
                    </div>

                    <div class="card-body cart">
                        <div class="col-sm-12 empty-cart-cls text-center">
                            <h3><strong>Merci de nous avoir fait confiance</strong></h3>
                            <h4>Vous serez livré dans les plus bref delai </h4>
                            <a *ngIf="this.isLoggedIn" (click)="getUserOrder()" class="btn btn-success cart-btn-transform m-3" data-abc="true">télécharger votre facture</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>