<!-- Topbar Start -->
<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block"></div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-1">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Votre commande</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Commande</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="center col-lg-12">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5>NOUS AVONS BIEN RECU VOTRE COMMANDE</h5>
                    </div>

                    <div class="card-body cart">
                        <div class="col-sm-12 empty-cart-cls text-center">
                            <h3><strong>Merci de nous avoir fait confiance</strong></h3>
                            <h4>Vous serez livré dans les plus bref delai </h4>
                            <a *ngIf="this.isLoggedIn" (click)="getUserOrder()" class="btn btn-success cart-btn-transform m-3" data-abc="true">télécharger votre facture</a>
                            <p><strong><u>NB:</u></strong> Pour etre livré, vous devez impérativement payé votre commande par <span style="color: red;">Wave ou OrangeMoney</span> au <strong> <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; 78 296 68 68</strong> ou par <span style="color: red;">FreeMoney</span>
                                &nbsp;  au  <strong> <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; 76 230 34 40</strong> 
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>