<!-- Topbar Start -->
<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <!-- <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                <app-sidebar-category></app-sidebar-category>
            </nav> -->
        </div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h4 class="font-weight-semi-bold text-uppercase mb-3">Création compte</h4>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Créer un compte</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container-fluid pt-5">

    <div class="row px-xl-5">
        <div class="col-lg-5 mx-auto">
            <div class="contact-form">
                <div id="success"></div>
                <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate="novalidate">
                    <div class="control-group">
                        <label>Nom&Prénom</label>
                        <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid': submitted && registrationForm.controls!['name']!.errors}" placeholder="Entrez votre Nom complet" />
                        <p class="help-block text-danger"></p>
                        <!-- <div class="alert alert-danger" *ngIf="registrationForm.get('name')!.invalid
                            && registrationForm.get('name')!.touched">
                            <div *ngIf="registrationForm.get('name')!.errors!['required']">Votre nom est obligatoire</div>
                        </div> -->
                        <div *ngIf="submitted && registrationForm.controls!['name'].errors" class="alert alert-danger">
                            <div *ngIf="submitted && registrationForm.controls!['name'].errors!['required']">
                                Votre nom est obligatoire
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label>Nom utilisateur *</label>
                        <input type="text" formControlName="username" [ngClass]="{'is-invalid': submitted && registrationForm.controls!['username']!.errors}" class="form-control" placeholder="Entrez votre Nom utilisateur" />
                        <p class="help-block text-danger"></p>
                        <!-- <div class="alert alert-danger" *ngIf="registrationForm.get('username')!.invalid
                            && registrationForm.get('username')!.touched">
                            <div *ngIf="registrationForm.get('username')!.errors!['required']">Votre nom utilisateur est obligatoire</div>
                        </div> -->
                        <div *ngIf="submitted && registrationForm.controls!['username'].errors" class="alert alert-danger">
                            <div *ngIf="submitted && registrationForm.controls!['username'].errors!['required']">
                                Votre nom utilisateur est obligatoire
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label>E-MAIL *</label>
                        <input type="email" formControlName="email" [ngClass]="{'is-invalid': submitted && registrationForm.controls!['email']!.errors}" class="form-control" placeholder="Entrez votre Email" />
                        <p class="help-block text-danger"></p>
                        <!--  <div class="alert alert-danger" *ngIf="registrationForm.get('email')!.invalid
                            && registrationForm.get('email')!.touched">
                            <div *ngIf="registrationForm.get('email')!.errors!['required']">Votre email est obligatoire</div>
                        </div> -->
                        <div *ngIf="submitted && registrationForm.controls!['email'].errors" class="alert alert-danger">
                            <div *ngIf="submitted && registrationForm.controls!['email'].errors!['required']">
                                Votre email est obligatoire
                            </div>
                            <div *ngIf="submitted && registrationForm.controls!['email'].errors!['pattern']">
                                Votre format email est invalide
                            </div>
                        </div>
                    </div>


                    <div class="control-group">
                        <label>Password *</label>
                        <input type="password" formControlName="password" [ngClass]="{'is-invalid': submitted && registrationForm.controls!['password']!.errors}" class="form-control" placeholder="Entrez votre mot de passe" />
                        <p class="help-block text-danger"></p>
                        <!-- <div class="alert alert-danger" *ngIf="registrationForm.get('password')!.invalid
                            && registrationForm.get('password')!.touched">
                            <div *ngIf="registrationForm.get('password')!.errors!['required']">Votre mot de password est obligatoire</div>
                        </div> -->
                        <div *ngIf="submitted && registrationForm.controls!['password'].errors" class="alert alert-danger">
                            <div *ngIf="submitted && registrationForm.controls!['password'].errors!['required']">
                                Votre mot de passe est obligatoire
                            </div>
                            <div *ngIf="submitted && registrationForm.controls!['password'].errors!['minlength']">
                                Votre mot Password doit contenir au moins 8 caractères
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" formControlName="isChecked" [ngClass]="{'is-invalid': submitted && registrationForm.controls!['isChecked'].errors}" /> &nbsp;
                        <label class="text-color:red;">Accepter les conditionds d'utilisations *</label>
                        <div *ngIf="submitted && registrationForm.controls!['isChecked'].errors" class="alert alert-danger">
                            <div *ngIf="submitted && registrationForm.controls!['isChecked'].errors!['required']">
                                Veuillez accepter les conditions
                            </div>

                        </div>
                    </div>

                    <div>
                        <button class="btn btn-primary py-2 px-4 btn-block" type="submit" id="sendMessageButton">Créer compte
                            </button>
                    </div>

                    <br />
                    <div>
                        Vous avez Déjà un compte alors ? <a routerLink="/auth/login" class="py-2" style="cursor: pointer;">Se-Connecter</a>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>






<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>