<!-- Topbar Start -->
<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
        </div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-3">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">A Propos</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Qui sommes-nous ?</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-fluid pt-4">
    <!--  <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Contact-nous pour toutes vos questions</span></h2>
    </div> -->
    <div class="row px-xl-5">
        <div class="col-lg-6 mb-3 mb-lg-0">
            <h2 class="title">Qui somme nous ?</h2>
            <!-- End .title -->
            <p>
                Fleurpourtous est le site e-commerce N° 1 au Senegal spécialisé dans la vente de fleurs, de meubles de décorations et de popunières. Son idée est venu du constat qu'au Sénégal à partir de 19h, il est difficile voir impossible de trouver une boutique de
                fleur ouvert. L'objectif de fleurpourtous est donner la possibilité à ses clients de pouvoir achéter et de se faire livrer des fleurs à n'importe quelle heure. la vision de devenir la référence unique pour la vente de fleurs, de meubles
                de décorations ligne au Sénégal et en en Afrique avec la rapidité et simplicité d'accéssibilité aux produits en ligne et hors ligne à ses clients. Livraison dans plusieurs villes du Sénégal.
            </p>
        </div>
        <!-- End .col-lg-6 -->

        <div class="col-lg-6 mb-3 mb-lg-0">
            <h2 class="title">Nos Produits</h2>
            <!-- End .title -->
            <p>
                Nous travaillons en collaboration les meilleurs fleuristes du Sénégal. Des fleurs et meubles de déco 100% authentique avec une qualité hors norme. Nous mettons à votre disposition des fleurs de tout types (Mariage, Noel, Paque, etc) a des prix imbattables.
                Nous vous garantissons une livraison rapide et sécurisé. Nous avons un service client qui est pret à répondre à toutes vos questions 24h/24h

                <br />Pour plus d'informations veuillez visitez notre boutique ou appeler directement ou Par whatchap <a href="https://wa.me/+221779440310" class="site-button">
                 76 026 28 91 </a>
            </p>
        </div>
        <!-- End .col-lg-6 -->

    </div>
    <div class="text-center">
        <a class="btn btn-warning" routerLink="/">Acheter maintenant</a>

    </div>
</div>
<!-- Contact End -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>