<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                <app-sidebar-category></app-sidebar-category>
            </nav>
        </div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<div class="container-fluid bg-secondary mb-3">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Enregistrement</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Enregistrement</p>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Informations personnelles</h4>
                    <div class="row" formGroupName="customer">
                        <div class="col-md-6 form-group">
                            <label>Prénom *</label>
                            <input type="text" formControlName="firstName" class="form-control" placeholder="Votre prénom" required
                            [ngClass]="{'is-invalid': submitted && checkoutFormGroup.get('customer')?.get('firstName')?.errors}">
                            <p class="alert alert-danger" *ngIf="checkoutFormGroup.get('customer')?.get('firstName')?.hasError('required') &&
                                (checkoutFormGroup.get('customer')?.get('firstName')?.dirty || submitted)">
                                Le prénom est obligatoire
                            </p>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Nom *</label>
                            <input type="text" formControlName="lastName" class="form-control" placeholder="Votre nom" required 
                                [ngClass]="{'is-invalid': submitted && checkoutFormGroup.get('customer')?.get('lastName')?.errors}">
                            <p class="alert alert-danger" *ngIf="checkoutFormGroup.get('customer')?.get('lastName')?.hasError('required') &&
                                (checkoutFormGroup.get('customer')?.get('lastName')?.dirty || submitted)">
                                Le nom est obligatoire
                            </p>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="email" formControlName="email" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No *</label>
                            <input type="text" formControlName="mobile" class="form-control" placeholder="77 456 78 90" 
                                [ngClass]="{'is-invalid': submitted && checkoutFormGroup.get('customer')?.get('mobile')?.errors}">
                            <p class="alert alert-danger" *ngIf="checkoutFormGroup.get('customer')?.get('mobile')?.hasError('required') &&
                                (checkoutFormGroup.get('customer')?.get('mobile')?.dirty || submitted)">
                                Le numéro de téléphone du récepteur de la commande est obligatoire
                            </p>
                            <p class="alert alert-danger" *ngIf="checkoutFormGroup.get('customer')?.get('mobile')?.hasError('pattern') &&
                                (checkoutFormGroup.get('customer')?.get('mobile')?.dirty || submitted)">
                                Le numéro de téléphone du récepteur de la commande doit avoir 9 chiffres
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Adresse Achat</h4>
                    <div class="row" formGroupName="shippingAddress">
                        <div class="col-md-6 form-group">
                            <label>Rue</label>
                            <input class="form-control" type="text" formControlName="rue" placeholder="Rue">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Quartier</label>
                            <input type="text" formControlName="city" [ngClass]="{'is-invalid': submitted && checkoutFormGroup.get('shippingAddress')?.get('city')?.errors}" class="form-control" placeholder="Quartier">
                            <p class="alert alert-danger" *ngIf="checkoutFormGroup.get('shippingAddress')?.get('city')?.hasError('required') &&
                                (checkoutFormGroup.get('shippingAddress')?.get('city')?.dirty || submitted)">
                                Le nom du quartier est obligatoire
                            </p>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Région</label>
                            <select formControlName="country" [ngClass]="{'is-invalid': submitted && checkoutFormGroup.get('shippingAddress')?.get('country')?.errors}" class="custom-select" (change)="getStates('shippingAddress')">
                                <option selected>Choisir Région</option>
                                <option 
                                    *ngFor="let country of listCountryDto"
                                    [ngValue]="country">{{ country.name }}</option>
                            </select>
                            <p class="alert alert-danger" *ngIf="checkoutFormGroup.get('shippingAddress')?.get('country')?.hasError('required') &&
                                (checkoutFormGroup.get('shippingAddress')?.get('country')?.dirty || submitted)">
                                La région est obligatoire
                            </p>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Département</label>
                            <select class="custom-select" formControlName="state" [ngClass]="{'is-invalid': submitted && checkoutFormGroup.get('shippingAddress')?.get('state')!.errors}">
                                <option selected>Choisir Département</option>
                                <option 
                                    *ngFor="let tempState of shippingAddressStates"
                                    [ngValue]="tempState">{{ tempState.name }}</option>
                            </select>
                            <p class="alert alert-danger" *ngIf="checkoutFormGroup.get('shippingAddress')?.get('state')?.hasError('required') &&
                                (checkoutFormGroup.get('shippingAddress')?.get('state')?.dirty || submitted)">
                                La ville est obligatoire
                            </p>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" formControlName="zipcode" placeholder="123">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto" (change)="copyShippingAddressToBillingAddress($event)">
                                <label class="custom-control-label" for="shipto" data-toggle="collapse" data-target="#shipping-address">Choisir la meme addresse</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Adresse Livraison</h4>
                    <div class="row" formGroupName="billingAddress">
                        <div class="col-md-6 form-group">
                            <label>Rue</label>
                            <input class="form-control" type="text" formControlName="rue" placeholder="Rue">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Quartier</label>
                            <input type="text" formControlName="city" [ngClass]="{'is-invalid': submitted && checkoutFormGroup.get('billingAddress')?.get('city')?.errors}" class="form-control" placeholder="Quartier">
                            <p class="alert alert-danger" *ngIf="checkoutFormGroup.get('billingAddress')?.get('city')?.hasError('required') &&
                                (checkoutFormGroup.get('billingAddress')?.get('city')?.dirty || submitted)">
                                Le nom du quartier est obligatoire
                            </p>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Région</label>
                            <select formControlName="country" [ngClass]="{'is-invalid': submitted && checkoutFormGroup.get('billingAddress')?.get('country')?.errors}" class="custom-select" (change)="getStates('billingAddress')">
                                <option selected>Choisir région</option>
                                <option *ngFor="let country of listCountryDto"
                                    [ngValue]="country">{{ country.name }}</option>   
                            </select>
                            <p class="alert alert-danger" *ngIf="checkoutFormGroup.get('billingAddress')?.get('country')?.hasError('required') &&
                                (checkoutFormGroup.get('billingAddress')?.get('country')?.dirty || submitted)">
                                La région est obligatoire
                            </p>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Département</label>
                            <select class="custom-select" formControlName="state" [ngClass]="{'is-invalid': submitted && checkoutFormGroup.get('billingAddress')?.get('state')?.errors}">
                                <option selected>Choisir départment</option>
                                <option *ngFor="let tempState of billingAddressStates"
                                    [ngValue]="tempState">{{ tempState.name }}</option>
                            </select>
                            <p class="alert alert-danger" *ngIf="checkoutFormGroup.get('billingAddress')?.get('state')?.hasError('required') &&
                                (checkoutFormGroup.get('billingAddress')?.get('state')?.dirty || submitted)">
                                La ville est obligatoire
                            </p>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" formControlName="zipcode" placeholder="123">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Total Panier</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Articles</h5>
                        <div class="d-flex justify-content-between" *ngFor="let item of cartItems; let i = index">
                            <p>
                                <!-- <img [src]="
                            this.catalogueService.apiServerUrl +
                            '/products/photoProductInFolder/' +
                            item.id +
                            '?ts=' +
                            getTS()
                          " alt="{{item.name}}" style="width: 40px; height: 40px" /> -->
                          
                          <img [src]="
                            this.catalogueService.apiServerUrl +
                            '/products/photoProduct/' +
                            item.id +
                            '?ts=' +
                            getTS()
                          " alt="{{item.name}}" style="width: 40px; height: 40px" /> {{ item.name }}</p>
                            <p>{{ item.unitPrice }}f</p>
                        </div>
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">SousTotal</h6>
                            <h6 class="font-weight-medium">{{ totalPrice }}f</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Livraison</h6>
                            <h6 class="font-weight-medium">{{ shippingCost }}</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{ totalPrice + shippingCost }}f</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Paiement</h4>
                    </div>
                    <!--  <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                    </div> -->
                    <div class="card-footer border-secondary bg-transparent">
                        <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Valider votre commande</button>
                    </div>

                   <!--  <div class="card-footer border-secondary bg-transparent">
                        <button type="submit" [disabled]="!checkoutFormGroup.valid" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Valider votre commande</button>
                    </div> -->
                </div>
            </div>
        </div>
    </form>

</div>

<app-footer></app-footer>

<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>