<div class="container-fluid bg-secondary my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
            <div class="text-center mb-2 pb-2">
                <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Souscrire à notre Newsletter</span></h2>
                <p>Souscrire à notre newsletter et ne ratez pas de tous les nouveautés.</p>
            </div>
            <form action="">
                <div class="input-group">
                    <input type="text" [(ngModel)]="newsletterDataDTO.customerEmail" name="customerEmail" id="customerEmail" #customerEmail="ngModel" required class="form-control border-white p-4" placeholder="Votre addresse email">
                    <div *ngIf="customerEmail.invalid && (customerEmail.dirty || customerEmail.touched)"
                        class="alert">

                    <div *ngIf="customerEmail.errors?.['required']">
                        votre email est obligatoire.
                    </div>
                    </div>
                    <div class="input-group-append">
                        <button (click)="subscribeToNewLetter()" class="btn btn-primary px-4">S'inscrire</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>