<!-- Topbar Start -->
<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                <app-sidebar-category></app-sidebar-category>
            </nav>
        </div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
        <h4 class="font-weight-semi-bold text-uppercase mb-3">Vos Factures</h4>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">mes factures</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<!-- My Account Start -->
<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a (click)="OpenPdf()" style="cursor: pointer;" class="btn btn-warning">
                        <i class="fa fa-folder-open" aria-hidden="true"></i> Ouvrir</a>&nbsp;
                    <a (click)="PrintPdf()" style="cursor: pointer;" class="btn btn-success">
                        <i class="fa fa-print" aria-hidden="true"></i> Imprimer</a>&nbsp;
                    <a type="button" (click)="DownloadPdf()" style="cursor: pointer;" class="btn btn-danger">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Télécharger pdf</a>&nbsp;
                    <a type="button" (click)="onGoBack()" class="btn btn-warning" style="cursor: pointer;">
                        <span class="fa fa-arrow-left"></span> Retour&nbsp;
                    </a>
                </div>

            </div>
            <div class="col-md-9 col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                        <h4>Information Personnel</h4>
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label>Acheteur : </label>
                                <input type="text" class="form-control" name="id" [value]="this.username" readonly />
                            </div>

                            <div class="form-group col-sm-3">
                                <label>Commande Numéro : </label>
                                <input type="text" class="form-control" name="numeroCommande" [value]="this.numeroCommande" id="numeroCommande" readonly />
                            </div>

                            <div class="form-group col-sm-3">
                                <label>Pour  : </label>
                                <input type="text" class="form-control" name="client" [value]="this.client" id="client" readonly />
                            </div>

                            <div class="form-group col-sm-2">
                                <label>P.Total : </label>
                                <input type="text" class="form-control" name="" [value]="this.totalCommande" id="totalCommande" readonly />
                            </div>

                            <div class="form-group col-sm-2">
                                <label>Date : </label>
                                <input type="text" name="dateCommande" [value]="this.dateCommande | date:'dd-MM-yyyy'" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" aria-label="">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Désignation</th>
                                        <th>Quantite</th>
                                        <th>P.Unitaire</th>
                                        <th>P.Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of this.lcmdService.listData, let i = index;">
                                        <td>{{ item.productName }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.price * item.quantity }}</td>


                                    </tr>

                                </tbody>
                            </table>

                        </div>
                        <!-- <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non.
                            Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                        </p> -->
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>