<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block"></div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
        <h4 class="font-weight-semi-bold text-uppercase mb-3">Vos Factures</h4>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">mes factures</p>
        </div>
    </div>
</div>
<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a (click)="OpenPdf()" style="cursor: pointer;" class="btn btn-warning">
                        <i class="fa fa-folder-open" aria-hidden="true"></i> Ouvrir</a>&nbsp;
                    <a (click)="PrintPdf()" style="cursor: pointer;" class="btn btn-success">
                        <i class="fa fa-print" aria-hidden="true"></i> Imprimer</a>&nbsp;
                    <a type="button" (click)="DownloadPdf()" style="cursor: pointer;" class="btn btn-danger">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Télécharger pdf</a>&nbsp;
                    <a type="button" (click)="onGoBack()" class="btn btn-warning" style="cursor: pointer;">
                        <span class="fa fa-arrow-left"></span> Retour&nbsp;
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                        <h4>Information Personnel</h4>
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label>Acheteur : </label>
                                <input type="text" class="form-control" name="id" [value]="this.username" readonly />
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Commande Numéro : </label>
                                <input type="text" class="form-control" name="numeroCommande" [value]="this.numeroCommande" id="numeroCommande" readonly />
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Pour  : </label>
                                <input type="text" class="form-control" name="client" [value]="this.client" id="client" readonly />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>P.Total : </label>
                                <input type="text" class="form-control" name="" [value]="this.totalCommande" id="totalCommande" readonly />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Date : </label>
                                <input type="text" name="dateCommande" [value]="this.dateCommande | date:'dd-MM-yyyy'" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" aria-label="">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Désignation</th>
                                        <th>Quantite</th>
                                        <th>P.Unitaire</th>
                                        <th>P.Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of this.lcmdService.listData, let i = index;">
                                        <td>
                                            <img src="{{
                                                this.catalogueService.apiServerUrl +
                                                '/products/photoProductInFolder/' +
                                                item?.productId
                                                }}" alt="{{ item.productName }}" style="width: 40px; height: 40px;"> {{ item.productName }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.price * item.quantity }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>