<!-- Topbar Start -->
<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                <app-sidebar-category></app-sidebar-category>
            </nav>
        </div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h4 class="font-weight-semi-bold text-uppercase mb-3">Authentification</h4>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">S'authentifier</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container-fluid pt-5">

    <div class="row px-xl-5">
        <div class="col-lg-5 mx-auto">
            <div class="contact-form">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate="novalidate">
                    <div class="control-group">
                        <label>Nom utilisateur</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" id="username" placeholder="nom utilisateur" required="required" data-validation-required-message="Entrez votre Nom utlisateur" />
                        <p class="help-block text-danger"></p>
                        <div *ngIf="f.submitted && username.invalid">
                            <div *ngIf="username.errors!['required']">Nom utilisateur est incorrect</div>
                        </div>
                    </div>



                    <div class="control-group">
                        <label>Password *</label>
                        <input type="password" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" class="form-control" required placeholder="Mot de Password" data-validation-required-message="Entrez votre mot de passe" />
                        <p class="help-block text-danger"></p>
                        <div *ngIf="f.submitted && password.invalid">
                            <div *ngIf="password.errors!['required']">Password is required</div>
                            <div *ngIf="password.errors!['minlength']">Password must be at least 6 characters</div>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-primary py-2 px-4 btn-block" type="submit" id="sendMessageButton">Se Connecter
                            </button>
                    </div>

                    <br />
                    <div>
                        Pas de compte alors ? <a routerLink="/auth/register" class="py-2" style="cursor: pointer;">S'Inscrire </a>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>






<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>