<!-- Topbar Start -->
<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block"></div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h4 class="font-weight-semi-bold text-uppercase mb-3">Vos Commandes</h4>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">mes commandes</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<!-- My Account Start -->
<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab"><i class="fa fa-tachometer-alt"></i>&nbsp; Tableau de bord</a>
                    <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="fa fa-shopping-bag"></i>&nbsp; Vos Commandes</a>
                    <!-- <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab"><i class="fa fa-credit-card"></i>Payment Method</a> -->
                    <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab"><i class="fa fa-map-marker-alt"></i>&nbsp; Addresses</a>
                    <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i class="fa fa-user"></i>&nbsp; Votre compte</a>
                    <a class="nav-link" (click)="logout()" style="cursor: pointer;"><i class="fa fa-sign-out-alt"></i>&nbsp; Deconnexion</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                        <h4>Dashboard</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered" aria-label="">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Client</th>
                                        <th>Téléphone</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let comDTO of listCommandeDataDTO | paginate: {itemsPerPage: 10, currentPage: p}; let i = index;">
                                        <td> {{ comDTO.numeroCommande }} </td>
                                        <td> {{ comDTO.clientDto.firstName }} {{ comDTO.clientDto.lastName }} </td>
                                        <td> {{ comDTO.clientDto.mobile }} </td>
                                        <td> {{ comDTO.totalCommande }} </td>
                                        <td> {{ comDTO.status }} </td>
                                        <td> {{ comDTO.dateCommande | date:'dd-MM-yyyy' }} </td>
                                        <td>
                                            <a class="btn btn-danger" (click)="viewInvoice(comDTO)"><i class="fa fa-file-pdf" aria-hidden="true">  </i></a></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="pagination ">
                                <pagination-controls (pageChange)="p=$event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                        <h4>Commandes</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered" aria-label="">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Article</th>
                                        <th>Price</th>
                                        <th>Quantité</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <!--  <th>Action</th> -->
                                    </tr>
                                </thead>
                                <tbody *ngFor="let comDTO of listCommandeDataDTO; let i = index; ">
                                    <!-- <tr *ngFor="let comDTO of this.lcmdService.listData | paginate: {itemsPerPage: 10, currentPage: p}; let i = index;"> -->
                                    <tr *ngFor="let lcomDTO of comDTO.lcomms | paginate: {itemsPerPage: 10, currentPage: p}; let i = index;">
                                        <td> {{ comDTO.numeroCommande }} </td>
                                        <td> {{ lcomDTO.productName }} </td>
                                        <td> {{ lcomDTO.price }} </td>
                                        <td> {{ lcomDTO.quantity }} </td>
                                        <td> {{ lcomDTO.price * lcomDTO.quantity }} </td>
                                        <td> {{ comDTO.status }} </td>
                                        <td> {{ comDTO.dateCommande | date:'dd-MM-yyyy' }} </td>
                                        <!--  <td>
                                            <a class="btn btn-warning" (click)="viewCommande(comDTO)"> <i class="fa fa-eye"></i> </a>
                                        </td> -->
                                    </tr>

                                </tbody>
                            </table>
                            <div class="pagination ">
                                <pagination-controls (pageChange)="p=$event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                        <h4>Payment Method</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non.
                            Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                        <!--  <h4>Address</h4> -->
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Address Achat</h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>No</th>
                                                <th>Rue</th>
                                                <th>Ville</th>
                                                <th>Département</th>
                                                <th>Région</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let comDTO of listCommandeDataDTO | paginate: {itemsPerPage: 10, currentPage: p}; let i = index;">
                                                <td> {{ comDTO.numeroCommande }} </td>
                                                <td> {{ comDTO.billingAddressDto.rue}} </td>
                                                <td> {{ comDTO.billingAddressDto.city }} </td>
                                                <td> {{ comDTO.billingAddressDto.stateDto.name }} </td>
                                                <td> {{ comDTO.billingAddressDto.stateDto.countryDto.name }} </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="pagination ">
                                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>Address Livraison</h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>No</th>
                                                <th>Rue</th>
                                                <th>Ville</th>
                                                <th>Département</th>
                                                <th>Région</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let comDTO of listCommandeDataDTO | paginate: {itemsPerPage: 10, currentPage: p}; let i = index;">
                                                <td> {{ comDTO.numeroCommande }} </td>
                                                <td> {{ comDTO.billingAddressDto.rue}} </td>
                                                <td> {{ comDTO.billingAddressDto.city }} </td>
                                                <td> {{ comDTO.billingAddressDto.stateDto.name }} </td>
                                                <td> {{ comDTO.billingAddressDto.stateDto.countryDto.name }} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pagination ">
                                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Details Compte</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nom&Prénom</label>
                                <input type="text" class="form-control" [(ngModel)]="listDataProfil.name" name="name" id="name" #name="ngModel" required />
                                <!--  <input class="form-control" type="text" [value]="listDataProfil.name" placeholder="First Name"> -->
                            </div>
                            <div class="col-md-6">
                                <label>Nom utilisateur</label>
                                <input type="text" class="form-control" [(ngModel)]="listDataProfil.username" name="username" id="username" #username="ngModel" required />
                                <!-- <input class="form-control" type="text" [value]="listDataProfil.username" placeholder="Last Name"> -->
                            </div>
                            <div class="col-md-6">
                                <label>Mobile</label>
                                <input type="text" class="form-control" [(ngModel)]="listDataProfil.mobile" name="mobile" id="mobile" #mobile="ngModel" required />
                                <!-- <input class="form-control" type="text" [value]="listDataProfil.mobile" placeholder="Mobile"> -->
                            </div>
                            <div class="col-md-6">
                                <div class="group-form">
                                    <label>Email</label>
                                    <input type="text" class="form-control" [(ngModel)]="listDataProfil.email" name="email" id="email" #email="ngModel" required />
                                </div>
                                <!-- <input class="form-control" type="text" [value]="listDataProfil.email" placeholder="Email"> -->

                            </div>
                            <!--  <div class="col-md-12">
                                <input class="form-control" type="text" [value]="listDataProfil.address" placeholder="Address" readonly>
                            </div> -->
                            <!--  <div class="col-md-12">
                                <button class="btn"
                                  (click)="addEditCustomerUsername(listDataProfil)"

                                  style="cursor: pointer">Modifier Compte</button>
                                <br><br>
                            </div> -->
                            &nbsp;
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-block" (click)="update()" style="cursor: pointer;">Modifier Compte</button>
                                <br><br>
                            </div>
                        </div>
                        <h4>Modifier votre mot Password</h4>
                        <div class="row ">
                            <!-- <div class="col-md-12 ">
                                <input class="form-control " type="password " placeholder="Current Password ">
                            </div>
                            <div class="col-md-6 ">
                                <input class="form-control " type="text " placeholder="New Password ">
                            </div>
                            <div class="col-md-6 ">
                                <input class="form-control " type="text " placeholder="Confirm Password ">
                            </div> -->
                            <div class="col-md-12 ">
                                <button class="btn btn-primary" (click)="addEditCustomerPassword(listDataProfil)" style="cursor: pointer;">Modifer mot de Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>