<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
        </div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Moyen Paiement</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0"> Options de Paiement ?</p>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-6 mb-3 mb-lg-0">
            <h2 class="title">Comment payer à la livraison?</h2>
            <p>
                <i class="fas fa-shopping-cart"></i><br> Finalisez votre commande en indiquant toutes les information nécessaire. Pour le moment, nous proposons pas de payement à la livraison.
                <strong>Notez bien que les frais de livraison sont à vos charges</strong>. Une fois votre commande reçu, nous vous le livrerons dans le délai qui suit
            </p>
        </div>
        <div class="col-lg-6">
            <h2 class="title">Paiement par Transfert d'Argent</h2>
            <p>
                Payez par <span style="color: red;">Wave</span>, <span style="color: red;"> Orange Money</span> au <strong>78 296 68 68</strong> ou par <span style="color: red;">FreeMoney</span> au <strong>76 230 34 40</strong>
                <br />Une fois le transfert reçu, nous vous livrerons dans les minutes ou heures qui suit.
                <strong>Notez bien que les frais de livraison sont à vos charges</strong>. Pour plus d'informations veuillez visitez notre boutique ou appeler directement ou Par whatchap <a href="https://wa.me/+221782966868" class="site-button">
                78 296 68 68 </a>
            </p>
        </div>
    </div>

    <br>
    <h5 class="text-center" style="color: orange;">Sur, Simple et Rapide</h5>
    <br>
    <div class="text-center">
        <a routerLink="/" class="btn btn-success">J'achète</a>

    </div>
</div>
<app-footer></app-footer>
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>