<!-- Topbar Start -->
<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                <app-sidebar-category></app-sidebar-category>
            </nav>
        </div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Moyen Paiement</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0"> Options de Paiement ?</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-fluid pt-5">
    <!--  <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Contact-nous pour toutes vos questions</span></h2>
    </div> -->
    <div class="row px-xl-5">
        <div class="col-lg-6 mb-3 mb-lg-0">
            <h2 class="title">Comment payer à la livraison?</h2>
            <!-- End .title -->
            <p>
                <i class="fas fa-shopping-cart"></i><br> Finalisez votre commande en indiquant toutes les information nécessaire. Vous avez la possibilité de payer en Espèces c'est-à-dire une fois à la livraison.
                <strong>Notez bien que les frais de livraison sont à vos charges</strong>. Une fois votre commande reçu, nous vous le livrerons dans le délai qui suit
            </p>
        </div>
        <!-- End .col-lg-6 -->

        <div class="col-lg-6">
            <h2 class="title">Paiement à par Transfert d'Argent</h2>
            <!-- End .title -->
            <p>
                Payez grace à votre compte <span style="color: red;">Orange Money</span>, votre compte <span style="color: red;">Wave</span> ou votre compte <span style="color: red;">FreeMoney</span> au <strong>77 944 03 10</strong>
                <br />Un fois la transfert reçu, nous vous livrerons dans les minutes qui suit.
                <strong>Notez bien que les frais de livraison sont à vos charges</strong>. Pour plus d'informations veuillez visitez notre boutique ou appeler directement ou Par whatchap <a href="https://wa.me/+221779440310" class="site-button">
                 77 944 03 10 </a>
            </p>
        </div>
        <!-- End .col-lg-6 -->
    </div>

    <br>
    <h5 class="text-center" style="color: orange;">Sur, Simple et Rapide</h5>
    <br>
    <div class="text-center">
        <a routerLink="/" class="btn btn-success">J'achète</a>

    </div>
</div>
<!-- Contact End -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>