<app-nav-bar></app-nav-bar>
<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 490px;">
            <img class="img-fluid" src="assets/customer/img/carousel-1.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">100% Authentique</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Prix Raisonnable</h3>
                    <a routerLink="/shop/catalogue" class="btn btn-light py-2 px-3">Acheter</a>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="height: 490px;">
            <img class="img-fluid" src="assets/customer/img/carousel-2.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">100% Authentique</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Prix Raisonnable</h3>
                    <a routerLink="/shop/catalogue" class="btn btn-light py-2 px-3">Acheter</a>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>