<div class="container-fluid">
    <app-main-top></app-main-top>
</div>
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
        </div>
        <div class="col-lg-9">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
</div>
<div class="container-fluid bg-secondary mb-3">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Assistance</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Support & Aide </p>
        </div>
    </div>
</div>
<div class="container-fluid pt-4">
    <div class="row px-xl-5">
        <div class="col-lg-12 col-sm-12">
            <h2 class="title text-center">Comment peut-on vous aider ?</h2>
        </div>
        <br/> <br /><br/> <br />
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 17rem;">
                <div class="card-body">
                    <span class="align-center">
                        <i class="fas fa-dolly" style=" font-size:150px;color:red "></i>
                    </span>
                    <br/><br />
                    <a routerLink="/pages/aide-commande" class="btn btn-primary ">Effectuer une commande</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 ">
            <div class="card" style="width: 17rem;">
                <div class="card-body">
                    <span class="align-center">
                        <i class="fab fa-amazon-pay" style=" font-size:150px;color:primary"></i>
                    </span>
                    <br/> <br />
                    <a routerLink="/pages/aide-paiement" class="btn btn-primary ">Effectuer un paiement</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 ">
            <div class="card" style="width: 17rem;">
                <div class="card-body">
                    <span class="align-center">
                        <i class="fas fa-shipping-fast" style=" font-size:150px;color:red "></i>
                    </span>
                    <br/> <br />
                    <a routerLink="/pages/aide-livraison" class="btn btn-primary ">Se faire livrer</a>
                </div>
            </div>
        </div>

    </div>

</div>
<app-footer></app-footer>
<a href="# " class="btn btn-primary back-to-top "><i class="fa fa-angle-double-up "></i></a>