<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
    <a routerLink="/" class="text-decoration-none d-block d-lg-none">
        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Fleuriste</h1>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav mr-auto py-0">
            <a routerLink="/" class="nav-item nav-link active">Accueil</a>
            <a routerLink="/shop/catalogue" class="nav-item nav-link">Boutique</a>
            <!--  <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                <div class="dropdown-menu rounded-0 m-0">
                    <a routerLink="/shop/cart" class="dropdown-item">Panier</a>
                    <a routerLink="/shop/checkout" class="dropdown-item">Checkout</a>
                    <a routerLink="/pages/about" class="dropdown-item">About</a>
                    <a routerLink="/pages/temes-conditions" class="dropdown-item">Temes & Conditions</a>
                </div>
            </div> -->
            <a routerLink="/pages/contact" class="nav-item nav-link">Contact</a>

        </div>
        <div class="nav-item navbar-nav">
            <div class="nav-item dropdown">
                <a *ngIf="!this.username" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i>&nbsp; Se connecter</a>
                <a *ngIf="this.username" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i>&nbsp; {{ username }}</a>
                <div class="dropdown-menu rounded-0 m-0" style="width: 200px;">
                    <a routerLink="/auth/login" class="btn btn-primary btn-block">Se connecter</a>
                    <a routerLink="/auth/register" class="nav-item nav-link">
                        <i class="fa fa-user-circle"></i> &nbsp; S'inscrire</a>
                    <a *ngIf="!this.isLoggedIn" routerLink="/auth/login" class="nav-item nav-link" style="cursor:pointer;">
                        <i class="fas fa-tachometer-alt"></i>&nbsp; Vos commandes</a>
                    <a *ngIf="this.isLoggedIn" (click)="getUserOrder()" class="nav-item nav-link" style="cursor:pointer;">
                        <i class="fas fa-tachometer-alt"></i>&nbsp; Vos commandes</a>
                    <a *ngIf="this.isLoggedIn" (click)="logout()" class="nav-item nav-link" style="cursor:pointer;">
                        <i class='fas fa-sign-out-alt'></i>&nbsp; Deconnexion</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp; Aide</a>
                <div class="dropdown-menu rounded-0 m-0" style="width: 100px;">
                    <a routerLink="/pages/contact" class="btn btn-primary btn-block">Support</a>
                    <a routerLink="/pages/aide-commande" class="nav-item nav-link">
                        commander ?</a>
                    <a routerLink="/pages/aide-paiement" class="nav-item nav-link" style="cursor:pointer;">
                        Paiement ?</a>
                </div>
            </div>
        </div>
    </div>
</nav>