<a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
    <h6 class="m-0">Categories</h6>
    <i class="fa fa-angle-down text-dark"></i>
</a>
<nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical" style="">
    <div class="navbar-nav w-100 overflow-hidden" *ngFor="let subCatDTO of subCategoryListDTOs; let i = index;">
        <!-- <div class="nav-item dropdown" *ngFor="let catDTO of categoryListDTOs; let i = index;">
            <a href="#" class="nav-link" data-toggle="dropdown">Dresses <i class="fa fa-angle-down float-right mt-1"></i></a> 
            <a href="#" class="nav-link" data-toggle="dropdown">{{catDTO.categoryName}} <i class="fa fa-angle-down float-right mt-1"></i></a>
            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0" *ngFor="let subCatDTO in catDTO; let i = index;">
                <a href="" [routerLink]="['/shop/category', subCatDTO.id]" class="dropdown-item">{{subCatDTO.subCategoryName}}</a>
                           <a href="" class="dropdown-item">Men's Dresses</a>
                <a href="" class="dropdown-item">Women's Dresses</a>
            </div>
        </div> -->



        <a [routerLink]="['/shop/category', subCatDTO.id]" class="nav-item nav-link">{{subCatDTO.subCategoryName}}</a>
        <!--
          <a href="" class="nav-item nav-link">Shirts</a>
        <a href="" class="nav-item nav-link">Jeans</a>
        <a href="" class="nav-item nav-link">Swimwear</a>
        <a href="" class="nav-item nav-link">Sleepwear</a>
        <a href="" class="nav-item nav-link">Sportswear</a>
        <a href="" class="nav-item nav-link">Jumpsuits</a>
        <a href="" class="nav-item nav-link">Blazers</a>
        <a href="" class="nav-item nav-link">Jackets</a>
        <a href="" class="nav-item nav-link">Shoes</a> -->
    </div>
</nav>